<form action="" method="post">
    <div class="card shadow">
        <h5 class="card-header">
            Đăng kí
        </h5>
        <div class="card-body">
            <h5>Tài khoản</h5>
            <div class="form-group">
                <label for="txtCatName">Tên danh mục</label>
                <input type="text" class="form-control" id="txtCatName" name="CatName" placeholder="Tên danh mục">
            </div>
            <hr>
            <h5>Thông tin</h5>
            <div class="form-group">
                <label for="txtCatName">Tên danh mục</label>
                <input type="text" class="form-control" id="txtCatName" name="CatName" placeholder="Tên danh mục">
            </div>
        </div>
        <div class="card-footer text-right">
            <a class="btn btn-primary" href="/categories" role="button" title="Back">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Quay về
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Lưu
            </button>
        </div>
    </div>

</form>