<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express App - 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,
    body{
        height: 100%;
    }
</style>
</head>

<body>
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-sm-12">
            <div class="card w-50 mx-auto shadow">
                <div class="card-body text-center">
                    <h4 class="card-title">Oops!</h4>
                   <h2>404. Page not found.</h2>
                   <div>Sorry, an error has occured. Requested page not found.</div>
                   <div class="mt-4"> 
                       <a class="btn btn-primary btn-lg" href="/" >
                       <i class="fa fa-home" aria-hidden="true"></i>
                       Home
                       </a>
                       <a class="btn btn-success btn-lg" href="javascript:;" >
                       <i class="fa fa-envelope" aria-hidden="true"></i>
                       Contact Us
                       </a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>